.photo-div {
    width: 100%; 
    height: 25%;
}

#form-div {
    padding-left: 75px;
    padding-top: 5%;
    padding-bottom: 25%;
    margin-top:0; 
    background-size: cover;
    background-image: url(./assets/wine_glasses_edited.jpg);
    font-size: 25px;
    color: white;
}

input {
    width: 200;
    height: 30;
}

h1 {
    font-size: 75px;
}

