header {
    background-color:#030c13;
    height: 100px;    
}

body {
    margin: 0;
    background: cover;
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 300;
}

.container {
    width: 80%;
    margin: 10 auto;
}

img { 
    display: block;
    float: left;
    width: 15%;
    padding: 10px 50px;
}
nav {
    float: right;
    color: white;
    margin: 20px auto;
    
}

nav ul { 
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li {
    display: inline-block;
    margin-left: 3em;
    padding-top: 7%;
}

nav a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 25px;
}

nav a:hover {
    border-top: 2px solid white;
    transition: all ease-in-out 250ms;
}

h1 {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 45px;
    color: #f1bb17;
    font-weight: 600;
    /* padding-top: 6em; */
}

h2 {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 35px;
    text-align: center;
    font-weight: 300;
    color: white;
}

h3 { 
    font-family: 'News Cycle', sans-serif;
    font-size: 35px;
    text-align: center;
    font-weight: 300;
    color: white;
}
 h3:hover {
     color: #ecb518;
 }

 h6 {
     font-size: 10px;
     font-family: Arial, Helvetica, sans-serif;
     color: white;
 }

p {
    font-family: 'News Cycle', sans-serif;
    font-weight: 200;
    font-size: 20px; 
    color:#dae3e9;
}

#div01 {
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: contain; 
    padding-bottom: 20%;
    padding-top: 9%;
    padding-left:63%; 
    background-image: url(./assets/dinning_1_edited_1422x696.jpg);
}

#div02 {
    padding: 2em 1.5em;
    text-align: center;
    border-bottom: 2px solid white;
    background-color: #2a0200;
}

#div03 {
    padding: 2em 1.5em;
    text-align: center;
    background-color: #170405;
}

.fa {
    padding: 3px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
  }
  
  .fa:hover {
      opacity: 0.7;
  }
  
  .fa-facebook {
    /* background:#3B5998; */
    color: white;
  }
  
  .fa-twitter {
    /* background: #55ACEE; */
    color: white;
  }

  footer {
      width: 100%;
      background-color: black;
      text-align: center;
      margin-top: 0%;
  }

/* .button1 {
    background-color:transparent; 
    color:#8d0d28; 
    border: 2px solid #8d0d28;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.5s;
} */

/* .button1:hover {
    background-color: #8d0d28;
    color: white;
  } */