body {
  background-image: url(https://images.unsplash.com/photo-1471967183320-ee018f6e114a?ixlib=rb-1.2.1&auto=format&fit=crop&w=1951&q=80);
  background-size: cover;
  /* background-image: url(https://images.unsplash.com/photo-1481833761820-0509d3217039?ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80); */
}

.container {
  font-family: 'Open Sans Condensed'
}

#logo {
  padding: 10px 50px;
  height: 172.87px;
  width: 251.59px;
  margin-left: 0px;
}

#restaurant-name {
  text-align: center;
  font-family: 'Yesteryear';
  font-size: 75px;
  font-weight: lighter;
  padding: 170px 20px 20px
}

#result-image {
  padding: 10px;
  padding-left: 350px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  
}

#result-image img{
border: 2px solid slategray;
height:400px;
width: 60%;
padding: 1px;
transition: all 1.5s ease-in-out;
}

#result-image img:hover, img:focus{
  transform: scale(1.27);
}

h2 {
  position: absolute;
  bottom: -300px;
  margin-left: 10px;
  font-size: 40px;
  color: whitesmoke;
  float: left;
  font-family: 'Yesteryear';
}

