#cuisineOptions {
    font-family: 'News Cycle', sans-serif;
    /* font-weight: lighter; */
    font-size: 40px; 
    color: white;
    /* background-size: cover; */
    padding: 8em;
    background-image: url(./assets/avocados.jpg);
}

#imageContainer {
    background-color:#191722;
    padding: 5em;
}

body {
    background: cover;
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 300;
}

h2{
    padding: 0;
}
